	
	*{
		box-sizing: border-box;
	}

	@media (min-width: 450px) {
		.outerDiv {
			background-color: rgb(200, 170, 250);
			border: solid black 1px;
			padding-top: 20px;	
			font-size: 24px;
			text-align: right;
		}

		.innerDiv {
			background-color: rgb(200, 200, 200);
			border: solid black 1px;
			font-size: 15px;
			text-align: left;
		}
	}

	@media (min-width: 750px) {
		.outerDiv {
			background-color: rgb(200, 170, 250);
			border: solid black 1px;
			padding-top: 20px;	
			font-size: 24px
			text-align: right;
		}

		#sushiOuterDiv {
			width: 100%
		}
		#beefOuterDiv {
			width: 50%
		}
		#chickenOuterDiv {
			width: 50%;
		}

		.innerDiv {
			background-color: rgb(200, 200, 200);
			border: solid black 1px;
			font-size: 15px;
			text-align: left;
		}
	}

	@media (min-width: 1200px) {
		.outerDiv {
			background-color: rgb(200, 170, 250);
			border: solid black 1px;
			width: 33.33%;
			padding-top: 20px;	
			font-size: 24px
			text-align: right;
		}


		.innerDiv {
			background-color: rgb(200, 200, 200);
			border: solid black 1px;
			font-size: 15px;
			text-align: left;
		}
		#sushiOuterDiv {
			width: 33.33%
		}
		#beefOuterDiv {
			width: 33.33%
		}
		#chickenOuterDiv {
			width: 33.33%;
		}
	}

	h1{
		text-align: center;
	}

	#sushiOuterDiv {
		float: left;
	}
	#beefOuterDiv {
		float: left;
	}
	#chickenOuterDiv {
		float: left;
	}